@charset "utf-8";
/* CSS Document */

html
	{
	 	height:auto;
	}

body
	{
		width:100%;
		margin:0px;	
		background-color:#FFF;
		font-family:Myriad Pro;
	}
	
.head
	{
		width:100%;
		background:url(../img/header_bg.JPG);
		height:160px;
		margin:0px;
		position:fixed;
	}
	
.logo
	{
		margin-top:20px;
	}
	
.headTop
	{
		
		height:80px;
		background-repeat:repeat-x;
		padding-left:237px;
		
	}

.loggedName
	{
		font-family:Myriad Pro;
		font-weight:bold;
		font-size:18px;
		background-color: #FFF;
		border: 1px solid #e1e1e8;	
		border-radius:8px;
		padding:5px 15px;
		float:right;
		margin-top:-5px;
		margin-right:25%;
		text-transform:capitalize;
		
	}

/* Navigation Bar */	
.nav
	{
		background-color:#292929;
		width:100%;
		height:80px;
		padding-left:237px;
	}
	
.nav_item
	{
		width:100px;
		height:75px;
		border-right: 1px solid #000;
	}

.nav_item:hover, .nav_item a:hover, .active_module
	{
		background-color:#3b3b3b;
		color:#858484;
		text-decoration:none;

	}
	
.nav_item a
	{
		color:#cdcdcd;
		font-family:Myriad Pro;
		font-weight:600;
		font-size:18px;
	}

.nav_item_image
	{
		padding-top:15px;
		width:30px;
		height:30px;
		
	}

.nav_item_home
	{
		border-left: 1px solid #000;
	}

/* Left Side Bar */
.leftSideBar
	{
		background-color:#f5f5f5;
		width:237px;
		height:100%;
		position:fixed;
		margin-top:160px;
		border-right: 1px solid #cdcdcd;
		font-family:Myriad Pro;
		font-weight:600;
		
	}
	
.loggedUser
	{
		color:#333333;
		font-size:24px;
		margin:15px auto;
		
	}
	
.avatar
	{
		border:2px solid black;
		border-radius:8px;
	}

.chatList
	{
				background-color: green;
                position: absolute;
				width: 100%; bottom: 0;
		
	}
	
/* Contenet */
.content
	{
		padding-top:180px;
		padding-left:247px;
	}
	
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: .618em 1em .618em 3.631em;
  margin-bottom: 1.618em;
  background: #fff;
  border: 1px solid #6ea0b6;
  border-left-width: .382em ;
  position: relative;
  min-height: 2.618em;
}
.woocommerce_message:before,
.woocommerce_info:before,
.woocommerce_error:before,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before {
  font-family: 'WebSymbolsRegular';
  content: "D";
  display: block;
  color: #6ea0b6;
  position: absolute;
  top: .618em;
  font-size: 1.387em;
  left: .857em;
}
.woocommerce_error,
.woocommerce-error {
  border-color: #c67c77;
  list-style: none;
}
.woocommerce_error:before,
.woocommerce-error:before {
  content: "W";
  color: #c67c77;
}
.woocommerce_message,
.woocommerce-message {
  border-color: #a0bd72;
}
.woocommerce_message:before,
.woocommerce-message:before {
  content: ".";
  color: #a0bd72;
}
.woocommerce_message .button,
.woocommerce-message .button {
  float: right;
}


@media (max-width: 1025px) 
{ 
	.nav
		{
			padding-left:0px;
		}
		
	.loggedName
		{
			float:right;
			margin-right:0px;
		}
		
	.headTop
	{
		padding-left:0px;
		
	}
	
}

